body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

div {
  height: 200px;
  width: 200px;
  background-color: lightcoral;
  transform: rotate3d(1, 0, 0, 45deg);
}
